@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

input,
textarea,
select {
  @apply border border-[#00296b] rounded-sm w-full mb-2 p-1 outline-none focus-visible:border-[#00296b];
  @apply shadow-sm;
}

button {
  cursor: pointer;
}
button {
  background-color: #00296b;
}
button:hover {
  color: #faf0ca;
}
